* {
  box-sizing: border-box;
}
div {
  height: calc(100vh - 220px);
  border: 2px solid;
  min-height: 100px;
  padding: 20px;
}
.header {
  height: 100px;
}
.main {
  width: calc(100% - 500px);
  min-height: calc(100vh - 220px);
  float: left;
  margin-left: 300px;
}
.left {
  width: 300px;
  float: left;
  margin-left: calc(-100% + 200px);
  min-height: calc(100vh - 220px);
}
.right {
  width: 200px;
  float: left;
  min-height: calc(100vh - 220px);
}
.footer {
  height: 100px;
}
.clearfix {
  clear: both;
}
